body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.isotope, .isotope i {
    background-color: #ae252d;
}
.silicate, .silicate i{
  background-color: #05499a;
}
.oxide, .oxide i{
  background-color: #e0a10d;
}
.neutral, .neutral i {
  background-color: #5FCC93;
}
.precious, .precious i {
  background-color: #6F187E;
}


.carbon {
background-image: url(https://atlasdatabase.github.io/img/e/carbon.png);
}
.thamium9 {
background-image: url(https://atlasdatabase.github.io/img/e/thamium9.png);
}
.plutonium {
background-image: url(https://atlasdatabase.github.io/img/e/plutonium.png);
}
.heridium {
background-image: url(https://atlasdatabase.github.io/img/e/heridium.png);
}
.platinum {
background-image: url(https://atlasdatabase.github.io/img/e/platinum.png);
}
.chrysonite {
  background-image: url(https://atlasdatabase.github.io/img/e/chrysonite.png);
}
.iron {
  background-image: url(https://atlasdatabase.github.io/img/e/iron.png);
}
.zinc {
  background-image: url(https://atlasdatabase.github.io/img/e/zinc.png);
}
.titanium {
  background-image: url(https://atlasdatabase.github.io/img/e/titanium.png);
}
.nickel {
  background-image: url(https://atlasdatabase.github.io/img/e/nickel.png);
}
.iridium {
  background-image: url(https://atlasdatabase.github.io/img/e/iridium.png);
}
.copper {
  background-image: url(https://atlasdatabase.github.io/img/e/copper.png);
}
.gold {
  background-image: url(https://atlasdatabase.github.io/img/e/gold.png);
}
.aluminium {
  background-image: url(https://atlasdatabase.github.io/img/e/aluminium.png);
}
.omegon {
  background-image: url(https://atlasdatabase.github.io/img/e/omegon.png);
}
.radnox {
  background-image: url(https://atlasdatabase.github.io/img/e/radnox.png);
}
.murrine {
  background-image: url(https://atlasdatabase.github.io/img/e/murrine.png);
}
.calium {
  background-image: url(https://atlasdatabase.github.io/img/e/calium.png);
}

.hud-isotopes {
  background-image: url(https://atlasdatabase.github.io/img/icons/hud-isotopes.png);
}
.hud-silicates {
  background-image: url(https://atlasdatabase.github.io/img/icons/hud-silicates.png);
}
.hud-oxides {
  background-image: url(https://atlasdatabase.github.io/img/icons/hud-oxides.png);
}
.hud-neutrals {
  background-image: url(https://atlasdatabase.github.io/img/icons/hud-neutrals.png);
}
.hud-precious {
  background-image: url(https://atlasdatabase.github.io/img/icons/hud-precious.png);
}
.scan-isotopes {
  background-image: url(https://atlasdatabase.github.io/img/icons/scan-isotopes.png);
}
.scan-silicates {
  background-image: url(https://atlasdatabase.github.io/img/icons/scan-silicates.png);
}
.scan-oxides {
  background-image: url(https://atlasdatabase.github.io/img/icons/scan-oxides.png);
}
.scan-neutrals {
  background-image: url(https://atlasdatabase.github.io/img/icons/scan-neutrals.png);
}
.scan-precious {
  background-image: url(https://atlasdatabase.github.io/img/icons/scan-precious.png);
}
.units {
  background-image: url(https://atlasdatabase.github.io/img/icons/units-grey-128.png);
}
.units-grey {
  background-image: url(https://atlasdatabase.github.io/img/icons/units-grey-128.png);
}
.units-light {
  background-image: url(https://atlasdatabase.github.io/img/icons/units-light-128.png);
}

.life-support {
  background-image: url(https://atlasdatabase.github.io/img/tech/life-support.png);
}
.jetpack-mod {
  background-image: url(https://atlasdatabase.github.io/img/tech/jetpack-mod.png);
}
.jetpack-tech {
  background-image: url(https://atlasdatabase.github.io/img/tech/jettech.png);
}


@font-face {
	font-family: 'GeoNMS';
	src: url('https://atlasdatabase.github.io/fonts/geonms.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}