.plutonium {
  background-image: url(https://atlasdatabase.github.io/img/plutonium.png);
}
.carbon {
  background-image: url(https://atlasdatabase.github.io/img/carbon.png);
}
.heridium {
  background-image: url(https://atlasdatabase.github.io/img/heridium.png);
}
.iron {
  background-image: url(https://atlasdatabase.github.io/img/iron.png);
}
.holder {
  margin: 10px 10px;
  width: 480px;
}

#titlebar {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 5px;
  float: left;
  padding: 5px 10px 5px;
  position: relative;
}
#titlebar:before {
content: '';
width: 100%;
position: absolute;
top: -8px;
left: 0; 
}
#titlebar.isotope:before {
  border-top: 5px solid #d5270c;
}
#titlebar.isotope {
  border-top: 3px solid #751008;
  background-color: #992110;
}
#titlebar.silicate:before {
border-top: 5px solid #0248aa; 
}
#titlebar.silicate {
  border-top: 3px solid #122545;
  background-color: #18355f;
}
#titlebar.oxide:before {
border-top: 5px solid #ffbd1e; 
}
#titlebar.oxide {
  border-top: 3px solid #724e04;
  background-color: #926d15;
}
.image {
    width: 107px;
    height: 126px;
    display: inline-block;
    float: left;
    position: absolute;
}
i {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 107px 126;
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 126px;
  vertical-align: middle;
  display: inline-block;
}
.title {
    display: inline-block;
    float: left;
    font-size: 14px;
    font-family:'GeosansLight';
    padding-left: 115px;
    color: #fff;
}
.name {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.type {
 display: block;
  font-size: 14px;
}
.info.isotope {
  background-color: #442020;
}
.info.silicate {
  background-color: #342522;
}
.info.oxide {
  background-color: #322424;
}
.info {
  width: 100%;
  height: auto;
  display: block;
  color: #FFF;
  padding: 6px;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 18px;
  padding-left: 125px;
}
.info-text {
}

.langswitch {
  display: block;
  margin-bottom: 5px; 
}
.container {
  width: 350px;
margin: 0px;
padding: 0px;
}
@font-face {
	font-family: 'GeosansLight';
	src: url('http://atlasdatabase.github.io/fonts/GeosansLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}